[2017-08-21 14:15] laazo opened #1 "MDC properties"
`org.apache.log4j.MDC` properties not logged on the json file.

Is there a way to enable MDC on the `LogstashLayout` properties?

[2017-08-21 14:27] #1 closed

[2017-09-11 13:29] gquintana opened #2 "Improve LogstashJsonEventLayoutV1"
Some ideas I wish log4j2-logstash-layout had:

* Rename `source_host` as `host` to be on par with Logstash Input File
* Be able to use environment variables, Java system properties in a layout template:
  * Use something like Log4J variable lookup to do property substitution https://logging.apache.org/log4j/2.0/manual/lookups.html
  * Be able to add context specific fields like: "environment": "pr

[2017-09-13 10:54] vy commented on #2
- Regarding *renaming* `source_host` to `host`, `exception.exception_class` to `exception.class`, and `thread_name` to `thread`, I intentionally picked those field names to be aligned with the official [logstash/log4j-jsonevent-layout](https://github.com/logstash/log4j-jsonevent-layout) project. (Am I missing something here?) In case of a particular need, you can provide your own JSON template.
-

[2017-09-13 12:47] vy commented on #2
- *Extending context*: From your description I understood that you just want to have a custom map similar to MDC/NDC. Right? If so, why not creating a map entry (i.e. `"ldc": {"foo": "bar", "baz": "moo"}`) in a custom JSON template? Am I misinterpreting your explanation?
- *Filtering MDC/NDC*: Do you want to filter on keys, values, or both?

[2017-09-22 21:45] vy commented on #2
Just pushed v0.4 to Maven Central. Added `mdcKeyPattern` and `ndcPattern` configuration parameters. Further, Log4j 2.x Lookup support is integrated.

[2017-09-22 21:45] #2 closed

[2017-09-29 12:48] gquintana commented on #2
Thanks. I'll reopen a new issue to be able to get environnement vars/system properties in template.

[2017-09-29 12:50] vy commented on #2
@gquintana, I've already released that feature. Let me know if it doesn't work for you.

[2017-09-29 12:51] gquintana opened #4 "Environment variables, system properties in template"
Be able to use environment variables, Java system properties in a layout template...
Maybe use something like Log4J variable lookup to do property substitution https://logging.apache.org/log4j/2.0/manual/lookups.html

[2017-09-29 12:52] vy commented on #4
Hey @gquintana, that feature is already released. Can you confirm if I dind't leave anything out? (You might want to use master branch, I will cut a new release in a couple of hours.)

[2017-09-29 13:02] gquintana commented on #4
Awesome! Is it the same syntax as Log4J2?

[2017-09-29 13:02] #4 closed

[2017-09-29 13:03] vy commented on #4
Yep! Exactly the same interpolator, with `${json:...}` extension.

[2017-09-29 13:16] gquintana commented on #4
Sorry. Is it the same Lookup system: ${sys:user.name} ${env:USER} ?

[2017-09-29 13:22] vy commented on #4
Both `${sys:user.name}` and `${env:USER}` do work on my system. There is no magic, it is the existing [Log4j 2 Lookups](https://logging.apache.org/log4j/2.0/manual/lookups.html) plus `{json:...}` extension.

[2017-09-29 13:23] gquintana commented on #4
Thanks

[2017-11-06 13:55] greendale1924 opened #6 "No new lines after some time"
Hi,
Using this configuration
`
 <Console name="Console" target="SYSTEM_OUT">
	    <LogstashLayout dateTimeFormatPattern="yyyy-MM-dd'T'HH:mm:ss.SSS'Z'"
	               templateUri="classpath:LogstashJsonEventLayoutV1.json"
	               prettyPrintEnabled="false"
	               stackTraceEnabled="true"
	               timeZoneId="TimeZone.GMT_ID"
	               />
    </Console>`

everything wo

[2017-11-06 14:42] vy commented on #6
@greendale1924, I am assuming you're running the latest version -- 0.8 as of now. I suspect a regression related with concurrency in `JacksonNewlineAddingPrettyPrinter`. I will try to take a look at it in a couple of days. In the meantime, any hints that you can provide are more than welcome.

[2017-11-06 15:54] greendale1924 commented on #6
log4j2-logstash-layout - 0.8
log4j-* - 2.9.1
jackson-* - 2.8.3 (same problem with 2.8.10)

[2017-11-07 15:42] vy commented on #6
@greendale1924, I've just pushed a fix. Would you mind checking if it fixes your case, please?

[2017-11-08 10:18] greendale1924 commented on #6
Thanks for the fix!
I can confirm that the described problem does not seem to appear with the latest code (0.9-SNAPSHOT).

Please note, that I could not build the whole project because of:

but I only used log4j2-logstash-layout, so it was not a problem for me.

[2017-11-08 10:52] vy commented on #6
Great to hear! Thanks for testing @greendale1924. Release 0.9 should appear in Maven Central momentarily.

[2017-11-08 10:52] #6 closed

[2017-11-24 00:04] hadjiski opened #7 "extract certain MDC fields"
instead of having `{
  "mdc" : {
    "customThreadContextField" : "someValue1",
    "secondCustomThreadContextField" : "someValue2",
  },
  "@version" : 1,
  "source_host" : "raspberrypi",
  "message" : "some msg",
}`

I would like to have the mdc flat to the rest of the fields `{
  "customThreadContextField" : "someValue1",
  "secondCustomThreadContextField" : "someValue2",
  "@version" : 1,
  "s

[2017-11-24 09:13] vy commented on #7
Unfortunately that (field unwrapping) is not supported at the moment. Such a feature would imply other intrinsic problems: What if the unwrapped fields conflict with the existing ones? How one shall determine the precedence?

[2017-11-26 21:59] hadjiski commented on #7
well, in case of a conflict, throwing an exception seems to be valid

[2017-11-28 19:56] vy commented on #7
Would you mind sharing your use case? Do you need all fields to be unwrapped or just a certain subset?

[2017-11-28 21:15] hadjiski commented on #7
All should be enough, if subset is configurable, even better. Usecase is pretty simple: when things like session id, user id or something similar is to be logged with every log statement, I don't want to pass then to all my methods just to be able to log them, that's why they go to the ThreadContext, but still I consider them as flat to the rest of the fields.

[2017-11-28 21:19] vy commented on #7
I think supporting a subset would be a more feasible solution to this problem. For instance, what if you could have just said `"sessionId": "${json:mdc:sessionId}"` in the template. Right?

[2017-11-29 00:56] hadjiski commented on #7
sounds good

[2017-11-29 18:08] vy commented on #7
@hadjiski, would you mind checking (and preferably testing) the just pushed commit whether it is addressing your concern or not, please?

[2017-11-29 23:01] hadjiski commented on #7
@vy would work for me, thanks

[2017-11-29 23:02] #7 closed

[2017-11-30 11:13] vy commented on #7
@hadjiski, I've pushed the new v0.10 release to Maven Central. Should be accessible soon. FYI.

[2017-12-04 15:54] cyberluke opened #8 "Newline problem in Logstash"
I got parse issues with your extension, but stock log4j2 works with this config:

`<JsonLayout compact="true" eventEol="true"/>`

It inserts new line, I think you insert just a bunch of JSON nodes in the log file and he thinks it is an array, but there is no "," character.

My logstash config looks like this:
input {
  file {
    codec => json
    type => "log4j-json"
    path => "/logs/log4j2.log

[2017-12-04 16:39] cyberluke commented on #8
Does prettyPrint work for you? It adds a new line, which causes Logstash to throw exception about parse error. How do you configure it?

[2017-12-04 17:54] vy commented on #8
@cyberluke, what does your layout+appender configuration look like? You need to provide a little bit more information so I can reproduce the issue. And yes, `prettyPrintEnabled="true"` works for me, though I am using [log4j2-redis-appender](/vy/log4j2-redis-appender).

[2017-12-04 17:56] cyberluke commented on #8
I'm using standard file appender and logstash scans the log file as input (as seen in the first post). I tried also socket appender. Yeah, so I guess redis appender will do something different, so it can recognize individual lines correctly.

[2017-12-04 18:59] vy commented on #8
Using the following setup

[code]

I have downloaded `logstash-6.0.0` and run it as follows:

[code]

Then I ran `com.vlkan.log4j2.logstash.layout.demo.LogstashLayoutDemo` (shipped with `log4j2-logstash-layout` sources) from my IDE where I configure `layout-demo/src/main/resources/log4j2.xml` as follows:

[code]

I was able to see Logstash swiftly displaying the polled log entries to console. Furt

[2017-12-05 11:59] cyberluke commented on #8
With prettyPrintEnabled="false" it worked before. I was just questioning how is it working for you with prettyPrintEnabled="true", because you mention this in your github readme :))

[2017-12-05 13:57] vy commented on #8
Ah! Now I see your point. In the README, I do not mentioned any particular *appender*, AFAIK. The selling point of the layout plugin is the vast potential for customization. Though I cannot comment on whether all of these features will work with a particular *appender* or not. Maybe I should mention about this in a FAQ. Thanks for the tip.

[2017-12-05 13:57] #8 closed

[2018-02-19 20:06] mschwehl opened #9 "sleuth logging pattern: pid and defaultvalues"
Thank you very much for this outstanding plugin. As spring-sleuth is becomming more popular two minor issues with your logging-plugin are present.

first: provide pid
second: if one value is absent, then the plugin generates 'null' inside json whereas sleuth generates an empty string.

I hope you consider implementing these two minor enhancements

attacement: sleuth-pattern

https://github.com/spr

[2018-02-20 07:48] vy commented on #9
Hey @mschwehl, I am glad you liked the project. Though I am a bit confused by your questions. Let me elaborate that a bit:

1. Judging by [logback-spring.xml](https://github.com/spring-cloud-samples/sleuth-documentation-apps/blob/master/service1/src/main/resources/logback-spring.xml) you shared, `spring-cloud-samples` uses Logback for logging, though, as its name implies, `log4j2-logstash-layout`

[2018-02-21 08:47] mschwehl commented on #9
Hello @vy,

Thank you for your quick response and sorry for the confusion here.
My office is using an infrastructure using elkstack. One huge client is sending json messages in the 'sleuth' format and i want to produce the same output for my client using your log4j-json library

All works fine so far, thank you for providing this lib, it really fills a gap.

Refering to 2:

My tester is

[code]

i

[2018-02-21 20:50] vy commented on #9
There was indeed a bug with resolving `null` MDC (context data) values. I pushed the fix. Would you mind testing it, please? If it works for you, I will make a new release.

Coming back to the PID discussion... I thought you already had an environment variable called `PID` passed to your Java application. My suggestion is to first [retrieve the PID in Java](https://stackoverflow.com/questions/3584

[2018-02-23 17:35] mschwehl commented on #9
I can confirm that the null-issue is fixed, thank you

Back to PID.  It was my misanderstanding, i was thinking that

https://github.com/apache/logging-log4j2/blob/master/log4j-core/src/main/java/org/apache/logging/log4j/core/LogEvent.java

is providing the pid just like the ThreadId. I was wrong, thank you for pointing me to my error.

There are several ways to put the pid in the MDC. I will choo

[2018-02-23 18:39] vy commented on #9
@mschwehl, great! Thanks for taking time to test it. I have just pushed the new release to Sonatype. v0.11 should appear in Maven Central momentarily.

[2018-02-23 18:39] #9 closed

[2018-03-12 12:56] ntkoopman opened #10 "License"
Hi there,

This project looks very useful but since it's licensed as GPL we can't use it. Would you be willing to relicense it as LGPL or some other license that does not require open sourcing?

[2018-03-12 21:37] vy commented on #10
Switched to Apache License, Version 2.0. Let me know if it works for you.

[2018-03-13 08:37] ntkoopman commented on #10
Yes! Thank you very much!

[2018-03-13 11:30] #10 closed

[2018-09-06 06:54] jvassbo opened #12 "Vulnerable jackson version"
The `jackson-databind` dependency of version 2.9.4 has a known critical vulnerability [CVE-2018-7489](https://nvd.nist.gov/vuln/detail/CVE-2018-7489).
Please upgrade to latest version 2.9.6 🙂

[2018-09-06 18:02] vy commented on #12
Thanks for the heads-up @jvassbo!

[2018-09-06 18:02] #12 closed

[2018-09-28 16:26] vtrbtf opened #13 "Take types into account while serializing MDC values"
Hi man !

The lib is helping me a lot. However, it would be awesome if the layout could infer numeric values from MDC. This is something that would help on metrics and aggregations on ES.
Currently, we can only publish String MDC values.

If you're too busy, I could open a PR for that. However I dont know where to start

[2018-09-28 20:07] vy commented on #13
Thanks for the issue and PR @vtrbtf! And I am glad that the code proves to be useful for you.
The issue is much more wide-spread than just numbers: Apparently I was discarding the Java types (`Object`, `BigDecimal`, `Float`, etc.) of MDC values by initially rendering them to text, which happens to be unfortunately borrowed by your PR as well. I pushed a change to `master`, would you mind verifying

[2018-09-28 20:07] vtrbtf commented on #13
AWESOME! Thanks

Are you planning to release a version with that ?

[2018-09-28 20:07] vtrbtf commented on #13
@vy That was exactly what I was looking for

[2018-09-28 20:08] vy commented on #13
Ok, I will make a new release momentarily.

[2018-09-28 20:12] #13 closed

[2018-10-09 20:41] vy opened #17 "Improving the rendering performance"
We think we're going to be able to open-source our message class fairly soon, at which point it might be interesting to explore alternate layout/message interfaces that reduce serialization overhead.  Maybe something along the lines of a visitor pattern, where the Layout passes a visitor to the Message and the Message does the tree-walk?  Some people refer to that as a SAX-style API, and Jackson's

[2018-10-09 21:17] mkedwards commented on #17
For discussion's sake, this is the bit of code that could be reworked to use a `JsonGenerator` instead of an `ObjectWriter`:

[code]

It would be ideal not to have to create the `dstRootNode` intermediate object at all.  As a halfway step to that, I think it would be useful to subclass the `MultiformatMessage` interface (or add an interface mixin or something) to add a `streamMessageTo(JsonGenerat

[2018-10-11 18:34] vy commented on #17
TODOs:
- Accept `ObjectMapper` as a parameter in `LogstashLayout.Builder`.
- Use Jackson Afterburner module.

[2018-10-11 20:27] vy commented on #17
Adding Afterburner is not improving anything -- makes sense, we are not doing any POJO serialization. Long live benchmarks!

[2018-10-11 22:38] mkedwards commented on #17
I love what you're doing, and there's no need to apologize for the pace.  We're going through the open-sourcing motions here, should have something out that uses the Streamable API shortly.

[2018-10-11 23:15] mkedwards commented on #17
Public now:  https://github.com/nexiahome/formatted_data_message/tree/logstash-streamable

[2018-10-13 21:30] mkedwards commented on #17
The other thing that we found to be very important in the previous project was readability/familiarity of the syntactic sugar at the log site.  In C++ that was handled with macro/template magic to interpolate tagged values into a template string, with automagical fallbacks for untagged parameters, all wrapped up in a syntax identical to the Google-logging library we were already using.  We'll want

[2018-10-14 21:29] mkedwards commented on #17
Very cool!  Thank you, and please let me know how I can help.  I will be baking this into our Netty-based system soon -- we're currently sorting out thread affinity stuff -- and should be able to produce a relevant parallel benchmark that spews per-message log traffic into kafka for later aggregation into per-device traffic stats.

[2018-10-15 20:56] vy commented on #17
Done. In `json-generator` branch, see the benchmark results reported in `README.md`. I would really appreciate an in-detail review of the commit. If you approve, I will merge it to master and put the ribbon for a new release. For the records, I have GiST'ed [the output of `LogstashLayoutBenchmark`](https://gist.github.com/vy/0ebb6a4ad020f115b30edd42ba086525) on my machine.

[2018-10-19 16:11] mkedwards commented on #17
I haven't forgotten about this.  Getting to it now.  Just had to rework a library under our Netty thing first, so I could get a high-volume logger where I wanted it.

[2018-10-27 20:34] vy commented on #17
Just finished wrapping up the GC-free version of the layout. I increased the performance up to 1,109,501 msg/sec with 0.645 KB/sec alloc rate. I am busy with spitting out a plot after the JMH benchmark runs.

[2018-11-06 19:19] vy commented on #17
@mkedwards, @emschwar, I am done with my changes. Would you mind taking a look when you have time, please?

[2018-11-06 20:02] vy commented on #17
@mkedwards, hmmm..., no, we do not listen configuration changes. Let me check that. But please do review the rest at your convenience.

[2018-11-07 19:12] mkedwards commented on #17
I'm having trouble combining the KafkaAppender and LogstashLayout.  That used to work, but it regressed recently.  Any idea offhand why?

[2018-11-07 19:44] mkedwards commented on #17
To be precise, I'm using this branch of our fork of log4j2-logstash-layout:  https://github.com/nexiahome/log4j2-logstash-layout/tree/json-generator

and this branch of our streamable message class:  https://github.com/nexiahome/formatted_data_message/tree/logstash-streamable

and when I run `mvn test` in `formatted_data_message`, which logs some JSON-formatted messages to both console and kafka,

[2018-11-07 20:07] mkedwards commented on #17
For context, here's what I'm currently getting out of the JSON formatter:
[code]
Our goal is to be able to stream structured logging messages into kafka (or similar plumbing) and ingest them from there into a mostly column-oriented datastore.  Entries in the column-oriented datastore don't keep any of the non-timestamp high-cardinality columns, such as `message.message` or `exception.stacktrace`.

[2018-11-07 22:14] mkedwards commented on #17
Okay, so what's going on here is that the Kafka appender wants `toByteArray()`.  You probably want to inherit from `AbstractStringLayout` instead of `Layout<String>` to get the fast conversion from the `String` returned by `toSerializable()` to a `byte[]`.  We've done this in our fork; I'll disentangle that from our version/artifactory noise and send you a separate PR.

[2018-11-09 23:43] mkedwards commented on #17
It doesn't require it to extend from there; that just seemed like the smoothest way to get `toByteArray()`.  Tell me more about how gc-free rendering works, and let's figure out how to get `KafkaAppender` to use that path.

[2018-11-10 20:09] vy commented on #17
**Disclaimer:** Following is my interpretation of the Log4j 2 source code. I am neither a Log4j 2 expert, nor committer, but just someone with quite some experience above the average.

Every *layout* is expected to implement `org.apache.logging.log4j.core.Layout<T extends Serializable>`, which extends `Encoder<LogEvent>`. There, the javadoc states the following: *Since 2.6, Layouts can encode (`En

[2018-11-10 21:08] vy commented on #17
Sorry, totally my mistake. It should have been fixed with 72db860 that I've just pushed. Would you mind testing further, please? I really would like to ship a release for this branch.

[2018-11-10 21:13] mkedwards commented on #17
Thanks; this looks like a clean, efficient way to provide the needed interface.  I'll apply our local changes (mostly just the `Streamable` interface) on top of it and verify.

[2018-11-10 21:16] vy commented on #17
For the records, (as of date) `KafkaAppender` is not garbage-free, hence it requires a handle to the `byte[]` rather than implementing `ByteBufferDestination`.

[2018-11-10 21:16] mkedwards commented on #17
Maybe we can fix that in KafkaAppender?

[2018-11-10 21:19] vy commented on #17
Making a garbage-free `KafkaAppender` will probably necessitate a garbage-free Kafka client too. Sorry, I will pass that.

[2018-11-10 21:52] mkedwards commented on #17
For what it's worth, I don't think it would be terribly difficult to extend the Kafka producer code to implement ByteBufferDestination.  There are half a dozen layers of plumbing on the way down to https://github.com/apache/kafka/blob/1.1.1/clients/src/main/java/org/apache/kafka/common/record/DefaultRecord.java#L175, but they all basically treat `byte[] value` as opaque.  It would be pretty straig

[2018-11-22 14:15] vy commented on #17
@mkedwards, did you have chance to test in your side?

[2018-11-23 19:48] vy commented on #17
Released v0.15. Let's address further discussion in another ticket.

[2018-11-23 19:48] #17 closed

[2018-11-23 19:57] mkedwards commented on #17
Sorry I haven't updated this one in a bit.  We're running happily in QA with the code state at https://github.com/nexiahome/log4j2-logstash-layout/tree/eb35c1c208cf534bf493cc25946c700262f6ed2d , which is based on https://github.com/vy/log4j2-logstash-layout/commit/bbda80a56f8c5d4c94b3c0f06aad74a7c9d7e767 .  I'll rebase on v0.15 as released in advance of our canary in production (planned for Monday

[2018-12-05 10:36] FrVaBe opened #21 "add Marker support"
The LogEvent template variables which can be used inside custom templates do not support Marker ([LogEvent.getMarker()](https://logging.apache.org/log4j/2.x/log4j-core/apidocs/org/apache/logging/log4j/core/LogEvent.html#getMarker())). Would be nice if this would be added.

Layout should be done as in the [Log4j2-JSONLayout](https://logging.apache.org/log4j/2.x/manual/layouts.html#JSONLayout):

[co

[2018-12-27 09:41] vy commented on #21
Adding `Marker` support with a customizable layout turned out to be a pretty tough job due its recursive nature. After a decent amount of struggle, I decided to only introduce `marker:name`, that is, `LogEvent#getMarker().getName()`. The change is available in 017a95a. @FrVaBe, would you mind telling if this is good enough for your use case, please?

[2019-01-07 15:46] FrVaBe commented on #21
@vy Thank you for the implementation, which is certainly sufficient for many purposes. However, I can't rule out that we (or someone on my team) won't use Marker inheritance in the future.
Since we haven't made a final decision on the logging strategy yet, I don't want to claim the full feature here. As far as I can see the library offers a good possibility to use custom structured logging.  :+1:

[2019-01-07 18:43] vy commented on #21
Thanks for trying it out @FrVaBe. Then I am leaving the implementation in its current state right now (that is, only plain Marker support without inheritance) and closing the issue.

[2019-01-07 18:43] #21 closed

[2019-03-22 15:54] sabareeshkkanan opened #24 "LogStash Appender Question"
I understand this project focuses only on the layout but I am wondering what appender to use instead of appending to a file and then uploading using logstash.

[2019-03-22 21:10] vy commented on #24
There are a couple of approaches you can take there. Two prominent ones I know of are as follows:

1. Use [filebeat](https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-overview.html) to stream log files produced by log4j2 to Logstash.
2. Use [log4j2-redis-appender](https://github.com/vy/log4j2-redis-appender) in combination with [Logstash Redis plugin](https://www.elastic.co/guide/en/

[2019-03-22 21:10] #24 closed

[2019-03-22 22:49] sabareeshkkanan opened #25 "How to include spring properties"
i tried something like this but no luck
  "env": "${spring.profiles.active}"

[2019-03-24 21:58] vy commented on #25
`log4j2-logstash-layout` uses [Log4j 2 Lookups](https://logging.apache.org/log4j/2.0/manual/lookups.html) under the hood and basically provides access to environment variables, certain Java runtime constants (version, OS, etc.) and so on. (See the link for details.) So your question boils down to *"Can I access Spring variables from Log4j 2 configuration?"*. Below I listed approaches I know of you

[2019-03-24 21:58] #25 closed

[2019-03-25 15:02] sabareeshkkanan commented on #25
Appreciate for the detailed answer, The first solution errored out by saying cant find the bundle for application, might be related to how it is deployed. So i opted for second solution and worked like charm, and third solution would have worked as well but while developing it is defaulted to an environment. Again thanks

[2019-03-26 08:31] vy commented on #25
@sabareeshkkanan, I am glad at least one of the methods worked for you. Further I created [a Gist](https://gist.github.com/vy/81f6fa196f4a1ec453e4f29d33012fb3) with a sample Spring Boot application which employs the 1st (the one that did not work for you) and 2nd aforementioned approaches. Hope it helps.

[2019-04-06 06:08] justinsaliba opened #26 "Backporting to an earlier version of Log4j2"
Hi,

Thanks for taking the time to create this project. I'm currently looking at this library to add more verbose logging throughout my applications and this seems to be exactly what I'm looking for.

I've successfully demo'd this to my peers and it was very well received. The only snag which we encountered whilst testing this with our framework is that we are stuck on v0.14 of this library. This

[2019-04-06 09:44] vy commented on #26
Hey @justinsaliba! I am glad the library served (or is about to serve) a purpose for you. I prefer to stick to the latest Log4j2 release as much as possible, given Log4j2 is always backwards compatible. But I also do get your problem. I think we can find a workaround. Here is my proposal:

1. I am gonna make sure `log4j2-logstash-layout` works with Log4j2 2.8.X releases, though I will use the late

[2019-04-06 10:19] justinsaliba commented on #26
Thanks for the quick reply :).

Just a quick clarification, just to make sure I'm understanding correctly.

Given that this library does not package log4j2 (due to `<scope>provided</scope>` in parent pom), and that log4j2 is always forward compatible does it still make sense to depend on the latest version of Log4j2 if you are still looking to support v2.8.X? I've checked one my applications and i

[2019-04-06 10:40] vy commented on #26
Oopsie! You are right. Due to the `provided` scope, it does not appear as a transitive dependency -- sorry, totally forgot about it. Hrm...

I gave it a quick shot in the IDE. Things that need to be fixed are as follows:

1. Back port `ByteBufferDestinationHelper` -- trivial
2. Replace `StringMapMessage` with `MapMessage` -- though I need to check the implications of this.
3. `LogstashLayoutBenchm

[2019-04-06 11:02] justinsaliba commented on #26
Regarding 3. - yes I had thought of that when I tried to downgrade the Log4j2 version myself. Unfortunately the `additionalFields` property was only added in Log4j2 2.9, and is actually one of the reasons why my googling led me to this repository :). I didn't pay much attention to this because I was considering this library as being a replacement of JSONLayout (which comes bundled with Log4j2).

Y

[2019-04-06 18:42] vy commented on #26
@justinsaliba, could you cherry-pick b06f9470, package it locally and see if it works for you? I was able to successfully use `log4j2-logstash-layout-0.17-SNAPSHOT` compiled from b06f9470, in an application employing `log4j-core-2.8.2`.

[2019-04-07 06:35] justinsaliba commented on #26
Seems to work just fine a normal Mule app on the latest version, I'll test it out tomorrow on something that's a bit more complicated than a "hello world" API :).

Thanks for this!

[2019-04-08 10:22] justinsaliba commented on #26
Hey @vy. The fix seems to be okay :). It's going to take me a couple of days to fully test this out because I would need to change some parts of my application around, but rest assured that your bit works without issues. Unfortunately I do not really have the time to do that at this point in time.

With that said, I've tried running the app using 0.16 which caused the `NoClassDefFoundError`. With

[2019-04-08 18:57] vy commented on #26
Put the ribbon of `v0.17`, should appear in Maven Central in a couple of hours.

[2019-04-08 18:57] #26 closed

[2019-04-13 15:42] bakomchik opened #28 "Stackoverflow "BOMB" after any unhandled exception"
Hi guys!
recently i ran into problem , i got StackOverflowError and a lot of JsonGenerationException.
`java.lang.StackOverflowError
	at com.fasterxml.jackson.core.filter.TokenFilterContext._writePath(TokenFilterContext.java:213)
	at com.fasterxml.jackson.core.filter.TokenFilterContext._writePath(TokenFilterContext.java:213)
	at com.fasterxml.jackson.core.filter.TokenFilterContext._writePath(TokenF

[2019-04-15 13:19] chrissydee opened #29 "Caused by: java.lang.RuntimeException: failed serializing JSON"
Hi Volkan,

Since we use the JSONEventLayoutV0 of the Logstash implementation, I created my own template. Within the written log file, the JSON string is fragmented in many places and no longer valid. In our application logs I can see several exceptions. All exceptions refer to the used ByteBuffer.

**log4j2.xml**
[code]

**JSONEventLayoutV0.json**
[code]

**Stacktrace**
[code]

[code]

[2019-04-15 20:16] vy commented on #28
Thanks for the fantastic report @bakomchik! I will check it out sometime this week and act on it.

[2019-04-15 20:21] vy commented on #29
Hey @chrissydee, thanks for the report. I will see if I can find time to work on it sometime this week. In the meantime, if you can create a narrowed down case that reproduces the problem for me, it would be really helpful.

[2019-04-16 20:31] chrissydee commented on #29
Hey @vy, I adapt your LogstashLayoutDemo. Maybe you have to run the code multiple times before you see the wrong JSON lines. If you increase the num of log messages or threads, you can see your Exception from the LogstashLayout.class. Replace the log4j2.xml and add JSONEventLayoutV0.json too.

Thanks, for your fast reply.

Best,

Christian

log4j2-logstash-layout/layout-demo/src/main/java/com/vlka

[2019-04-17 16:28] sabareeshkkanan opened #30 "Pretty print when log level is error"
Well getting used to json log but it is really hard to read logs when there is error. Even though we are shipping it elastic search but it will be nice to have pretty print when the log level is error.

[2019-04-17 19:42] vy commented on #30
I will think about it. (#28 and #29 are on the top of my TODO list right now.)

Just an idea: In your Log4j 2 configuration, you can create an additional file logger capturing only `error` level logs and formatting them via `PatternLayout`. Would that address your concern?

[2019-04-21 20:08] vy commented on #28
I am closing this ticket and use #27 instead.

[2019-04-21 20:08] #28 closed

[2019-04-21 20:50] vy commented on #29
@chrissydee, I believe you can temporarily work around the issue by disabling TLA via `log4j2.enable.threadlocals=false` JVM property variable. In the meantime, I am checking the issue. (#27 is taking longer than I expected and sort of related with this issue.)

[2019-04-23 14:01] chrissydee commented on #29
Hi @vy, changing the property ```log4j2.enable.threadlocals``` does not work. Even in my provided code example the JSON becomes invalid. I put a breakpoint at LogstashLayoutSerializationContexts
[code]
to check if the property is used. Both supplier, the ThreadLocalSupplier and NewInstanceSupplier, has this issue.

By the way: the documentation of Log4J2 says, that the property is ineffective in w

[2019-04-25 06:26] vy commented on #29
@chrissydee, I think the fix I pushed for #27 addresses your issue as well via [this change](https://github.com/vy/log4j2-logstash-layout/commit/3addd312e65797b7b28b6c3d1d71d7c32a7212ce#diff-ecae8129b92c818a89f68137cc7ed567R148). If I am not mistaken, after having that `synchronized` block, I cannot reproduce the bug anymore. Would you mind testing and verifying the fix, please? In the meantime, I

[2019-04-25 09:33] vy commented on #29
@chrissydee, I have pushed `LogstashLayoutConcurrentEncodeTest` to `bakomchik-fix-corrupted-generator-state` branch. I also want to add your name to the list of contributors in the `README`. Shall I just write "chrissydee" or would you rather prefer your real name linked to your GitHub account?

[2019-04-29 19:34] vy commented on #29
Merged the changes to `master` and cut a release. `v0.18` should momentarily arrive in Maven Central.

[2019-04-29 19:34] #29 closed

[2019-05-03 08:41] pmackles opened #31 "Ability to truncate individual fields"
I think this is more of a feature request than a bug, but I am looking for a way to configure log4j2-logstash-layout so that it truncates certain fields if they are too long. It would be more granular than `maxByteCount` while also still allowing the message to go through. Something similar to the format modifiers in PatternLayout that allow you to truncate specific fields like `message` if it exc

[2019-05-03 08:54] vy commented on #31
Seems like a legit request. The problem is, in addition to `message`, there are various places where this might be applicable such as `exception[Root]Cause:{message,className}`, `mdc`, `ndc`, etc. Further do we want it to be only enforced on dictionary values, or keys as well?

[2019-05-03 13:06] vy commented on #31
After giving it some more thought, I am more inclined to delegate that responsibility to the application and have a hard bound (via `maxByteCount`) for protection in the logger. I feel like there are so many places where this limit can potentially be applied and abused. It is a matter of time people asking for "I would like to have a character limit on every field except this, this, and that ones"

[2019-05-03 21:04] pmackles commented on #31
@vy - I agree it would be something we want to be able to be able to apply to all fields without adding additional configuration properties for each individual field.

I was thinking it could be defined somewhere in the layout template. Maybe an optional format modifier that can be applied to each lookup where the default is the current behavior? Or perhaps we can leverage the log4j2 plugin mechan

[2019-05-03 21:18] vy commented on #31
@pmackles, I will not be available next week. The other week I will work on it -- a global character length limit on every key and val rendered.

[2019-05-15 16:20] sabareeshkkanan commented on #30
We solved this need by using traditional layout while doing local development

[2019-05-15 16:20] #30 closed

[2019-05-15 16:20] sabareeshkkanan opened #32 "Release Notes"
Where to find release notes

[2019-05-17 07:10] vy commented on #32
Nowhere yet. Though we should indeed have one. Will work on it...

[2019-05-17 18:57] vy commented on #32
Added one, see `CHANGELOG.md`. It goes back to `v0.17`, I hope that suffices your needs. I will keep it up to date for next releases.

[2019-05-17 18:57] #32 closed

[2019-05-27 19:42] vy commented on #31
I am still thinking on what could be the best approach to this issue. I have consulted to [log4j-user](https://lists.apache.org/thread.html/7e31f539eba77bcdcba9385624337c7932711819972d510bbb0f42f8@%3Clog4j-user.logging.apache.org%3E) and [jackson-user](https://groups.google.com/d/msg/jackson-user/gRxvl6t80gs/Cvw2WrNVBgAJ) mailing lists with the hope to get some tips.

[2019-06-08 21:56] vy commented on #31
@pmackles, would you mind commenting on the ac7f8f0 commit, please? If the changes address your need, I will cut a new release.

[2019-06-13 07:14] vy commented on #31
@pmackles, v0.19 shipping these changes should appear momentarily on Maven Central. Enjoy!

[2019-07-04 03:29] a1046149428 opened #34 "magic bug，one line json become mutiple message"
verison of 0.19
logstash 7.2

i use the tcp to logstash
[code]

<img width="760" alt="sql" src="https://user-images.githubusercontent.com/34642172/60637911-e64db200-9e4e-11e9-9d30-c3dd52d1c58a.PNG">
)

expected ,it shuoud be one line json

[2019-07-04 11:47] vy commented on #34
You need to disable pretty-print, that is, `prettyPrintEnabled=false`. Would you mind confirming if that fixes your issue, please?

[2019-07-04 16:13] a1046149428 commented on #34
Thanks for your reply, this problem has been solved, but this seems to be more complicated than the JsonLayout that comes with log4j2. Do you have any suggestions for this?
[
![捕获](https://user-images.githubusercontent.com/34642172/60679299-b8ea1e00-9eb9-11e9-890e-524948d00579.PNG)
](url)

[2019-07-05 07:06] vy commented on #34
@a1046149428, I am having a hard time to follow you. Would you mind first describing what are you trying to achieve, please? What is your setup? Are you trying to pipe `LogstashLayout`-generated JSONs to Logstash with a `SocketAppender`? I would appreciate if you can provide a **minimal** setup that I can reproduce your problem and work on a solution.

[2019-07-05 07:20] a1046149428 commented on #34
Thank you for your attention, the configuration I used is temporarily unavailable because it is at home. But the format I want is as shown below. I hope that this layout can provide information about the actual content of the application, rather than the json with many layers as shown above.
[
<img width="837" alt="微信图片_20190705151601" src="https://user-images.githubusercontent.com/34642172/607049

[2019-07-05 07:23] vy commented on #34
@a1046149428 I can't help unless I know the setup. Please do provide a simple setup that I can reproduce the problem myself. Sharing a Kibana screenshot does not help really.

[2019-07-05 12:00] a1046149428 commented on #34
Thank you for your patience, this is my steps：
[the setup](https://github.com/Bryce-huang/log4j2-logstash)

[2019-07-06 20:44] vy commented on #34
Ok, this is strange. I am not able reproduce the error. I started Logstash 7.2.0 with the following configuration as described in [the documentation](https://www.elastic.co/guide/en/logstash/current/plugins-inputs-tcp.html):

[code]

Opened `log42j-logstash-layout` project in my IDE and changed `layout-demo/src/main/resources/log4j2.xml` as follows:

[code]

Added a `Thread.sleep(1_000L);` line to

[2019-07-07 01:12] a1046149428 commented on #34
Sorry, I can't reproduce this problem either.
The computer that had problems at the time was my company.
I remember that I was reviving this problem at home, but I couldn't find similar data in elastic search, maybe it was covered or deleted by me.
But I am sure there is no problem with my logstash configuration.
Maybe it is caused by other environmental variables.
By the way, what I am at home is

[2019-07-07 01:12] #34 closed

[2019-07-12 19:44] vy opened #35 "Support user provided ObjectMapper"
Triggered by [a log4j-user discussion](https://lists.apache.org/thread.html/4bd9ddec4786f602b50a8e2bc9f26e990c2ffba8c433ff5ab5d54f1a@%3Clog4j-user.logging.apache.org%3E).

[2019-07-22 17:43] gopalkakularam opened #36 "Messages as json for Logger.log(Level, Object) support"
I am using Logger.log(Level, Object) and configured message as json:message:json in LogstashLayout. It only supports MultiformatMessage as json currently. Could you please provide support for any object as Json message as supported in JsonLayout of apache's log4j2 if we mention it as objectMessageAsJsonObject.

Also could you add support for the direct message should populated under messages inste

[2019-07-23 11:47] #31 closed

[2019-08-28 10:07] J0nathan-S opened #38 "Add support for Custom Serializers"
It would be nice, if there was support for custom serializers in order to be able to for example use org.json instead of fasterxml.

[2019-08-28 19:53] vy commented on #38
Would you mind elaborating on a bit on your use case, please? If you are concerned about [JAR Hell](https://en.wiktionary.org/wiki/JAR_hell), `log4j2-logstash-layout-fatjar` is supposed to address that issue.

[2019-08-28 21:23] J0nathan-S commented on #38
No, it‘s not about Jar Hell. I am logging a message into elasticsearch. Logstash-layout formats the json object which is set in the logmessage. Unfortunately it keeps throwing an exception, which says that the Jackson parser was not able to find a serializer to parse the JSONObject into Json. It would be nice, if there was a way to replace that Jackson Serializer with one of another Library. I am

[2019-08-29 07:42] vy commented on #38
That is really strange. It might point us in the direction of a bug. Would you mind providing some more context (the full stack trace, involved software components, their versions, etc., and if possible, a setup where I can reproduce the error), please?

It would indeed be *nice*, but abstracting away the existing JSON generation logic to enable the wiring of external JSON libraries is a significa

[2019-08-29 07:45] vy commented on #36
Hey @gopalkakularam! Sorry that this ticket has totally slipped through my inbox flood. (No, it definitely did not end up in the spam folder!) I will see what I can do.

[2019-09-02 06:17] vy opened #39 "Add log4j2-ecs-layout to the benchmarks"
@felixbarny has recently announced [elastic/java-ecs-logging](https://github.com/elastic/java-ecs-logging) project which ships `log4j2-ecs-layout` artifact. Add this layout to the benchmarks.

[2019-09-02 06:19] vy opened #40 "Add a feature comparison table"
Candidate layouts:
- [Log4j 2 `JsonLayout`](https://logging.apache.org/log4j/2.0/manual/layouts.html#JSONLayout)
- [java-ecs-logging Log4j 2 `EcsLayout`](https://github.com/elastic/java-ecs-logging/tree/master/log4j2-ecs-layout)

[2019-09-02 14:15] vy opened #41 "Replace ByteBufferOutputStream with a dynamically growing one"
When `byteCount` is big and not used at all (which is the case most of the time), `ByteBufferOutputStream` causes frequent cache misses. Use an alternative implementation with a dynamically growing `byte[]` alternative. (Maybe even chaining `byte[]`s via `List<byte[]>`?)

[2019-09-02 14:20] vy opened #42 "Use a faster timestamp serializer"
ISO 8601 (e.g., `1970-01-01T00:00:00.000Z`) timestamp formatting can be performed without any garbage. ([See TimestampSerializer from java-ecs-logging](https://github.com/elastic/java-ecs-logging/blob/master/ecs-logging-core/src/main/java/co/elastic/logging/TimestampSerializer.java).)

[2019-09-02 19:02] vy commented on #36
@gopalkakularam See the fix above. It addresses your requests. Let me know if they don't work for you. I will cut a new release in 1-2 days.

[2019-09-02 19:02] #36 closed

[2019-09-02 19:40] #35 closed

[2019-09-02 20:10] #42 closed

[2019-09-06 10:00] ov7a opened #43 "Custom user fields support"
In the original logstash layout there is a possibility to use custom user fields:
https://github.com/logstash/log4j-jsonevent-layout#custom-user-fields
This feature is quite handy to provide, for example, a service name through log4j config.

I suppose one can do it with this lib, but It would require to use custom layout for each service which adds extra field with different value for each servic

[2019-09-06 20:20] vy commented on #43
Would the following approach work for you?

1. Add a `SERVICE_NAME` environment variable.
2. Copy `LogstashJsonEventLayoutV1.json` template from `log4j2-logstash-layout` classpath to your project with the name `CustomEventLayout.json` and append a `"serviceName": "${env:SERVICE_NAME}"` entry there.
3. Use `CustomEventLayout.json` template in the `LogstashLayout` entry of your Log4j config.

At [bo

[2019-09-07 08:58] ov7a commented on #43
Thanks for the quick reply!

The approach you proposed is indeed more convenient in terms of less clunky configuration. However in requires more devops work: custom artifact and its distribution. That’s totally doable but not very convenient in heterogeneous environments with different templates or different types of distributions (regular/fatjar/appserver/etc).

I think adding custom fields featu

[2019-09-07 10:43] vy commented on #43
Hrm... I see your point. Given your concern is to ease migration, do you have any strong preferences for the way you configure the additional fields? For instance, this is the `log4j-jsoneven-layout` configuration:

[code]

And this is the Log4j 2 `JsonLayout` configuration:

[code]

I personally prefer the latter, which is the common key-value configuration convention in Log4j 2.

[2019-09-07 10:46] ov7a commented on #43
Either way is ok for me, but I think that the latter is more clear.

[2019-09-07 10:56] vy opened #44 "Replace Jackson with custom JSON emitter"
While Jackson is the de facto JSON serialization library in the Java world and `log4j2-logstash-layout` enjoys its great performance, flexibility, and customization features, it is currently the slowest chain in the entire serialization pipeline. Given `log4j2-logstash-layout` only serializes `LogEvent`s into JSON, a custom JSON emitter can very well be implemented in a pretty straightforward way.

[2019-09-07 10:57] vy commented on #43
I will try implementing this in 1-2 weeks. Is that good/quick enough for you?

[2019-09-07 10:58] ov7a commented on #43
Yeah, thats great! Thank you very much!

[2019-09-07 11:02] vy commented on #43
@ov7a If you (or your company) happens to be interested in donating bucks for this feature, feel free to ping me.

[2019-10-01 09:05] vy commented on #43
@ov7a Would you mind checking if the recent fix addresses your problem, please?

[2019-10-01 12:11] #38 closed

[2019-10-04 12:45] #43 closed

[2019-10-04 12:45] #39 closed

[2019-10-04 12:46] #40 closed

[2019-10-04 12:46] vy commented on #41
Added serialization context caching works around this problem.

[2019-10-04 12:46] #41 closed

[2019-10-08 07:31] ercpe opened #45 "Add entire map content as a field in the LogstashLayout"
We're logging our messages via `MapMessage` through a `LogstashLayout` to ELK.

I'm trying to add the entire map content of the `MapMessage` to the layout but can't figure out how. I know that i can look up individual keys via

```"event": "${map:event}",```

but I haven't found a way to add the entire map.
I want to do something like:

[code]

and get sth. like

[code]
The message keys are more o

[2019-10-08 08:22] vy commented on #45
I guess what you are looking for is `json:message:json` directive, that is, `{"vars": "${json:message:json}"}`. Does that solve your issue?

[2019-10-08 09:17] ercpe commented on #45
Partially:

[code]
and
[code]
gives me

[code]
It would be nice to have nested objects as proper json objects, too.

[2019-10-09 11:27] vy commented on #45
@ercpe, the problem turned out to be this: `MapMessage` (extending `MultiformatMessage`) by default implements its own formatter, which is, if I am not mistaken, used by `{Yaml,Json,Xml}Layout` as well. (See `MapMessage#asJson()`.) `LogstashLayout` falls back to these provided defaults whenever it can. But... Yes, you guessed it right: `MapMessage#asJson()` is a cheap hack over `entry.getValue().t

[2019-10-09 11:54] vy commented on #45
@ercpe, would you mind confirming the fix that I have just pushed, please?

[2019-10-09 15:45] ercpe commented on #45
I think option 1 is the cleaner approach, but i'm totally fine with the second one although i probably would've skipped the configuration option.
I'll test the fix tomorrow at work.

Thank you for your fast response!

[2019-10-10 06:59] ercpe commented on #45
Yep, works as expected:

Layout:
[code]

[code]
gives:

[code]

although the the `message` uses the .toString() value:

```"message" : "sub1=\"{sub2={bat=baz, someint=42}, foo=bar}\" top=\"test\"",```

but i can totally live with that since i'm not really using the `message` property.

Any ETA on the next release?

[2019-10-10 19:29] vy commented on #45
As soon as Maven Central starts to work again. :confused:

[2019-10-15 13:35] vy commented on #45
Released v0.21 the artifacts via Sonatype and should show up in Maven Central momentarily.

[2019-10-15 13:35] #45 closed

[2019-10-31 16:12] wangzhuo0978 opened #46 "How can I change the output result type to a numeric type?"
now, I can customize the output result through ThreadContext, config
"resTime": "${json:mdc:resTime}" ,  I get print
as {"resTime", "1000"},  but for some reason, I just want get {"resTime": 1000}, How could I do;

[2019-11-01 08:54] vy commented on #46
I am pretty sure `LogstashLayout` handles different object types in MDC. I have modified the `LogstashLayoutTest#test_mdc_key_access()` method as follows to check my assumption:

[code]

This produces the following output:

[code]

If you can provide me a setup (e.g., a simple Java project where I can locally run and reproduce the error), I can try helping you out. What you can also do is, put a b

[2019-11-01 10:26] wangzhuo0978 commented on #46
Thank you very much for your prompt reply, but I set mdc value via ThreadContext(org.apache.logging.log4j), and I am not sure if there is a better multi-threaded support way than this.
if use TheadContext,  through the inferface:
[code]
I have to set value of type to string ...    If I can explicitly specify the type of a field, it will greatly facilitate the use of the tool.

[2019-11-01 14:44] vy commented on #46
I will see if we can get it working without introducing a hack into `LogstashLayout`.

[2019-11-02 08:14] wangzhuo0978 commented on #46
This library is very helpful to me, thank you and other contributors.
[code]
if the user does this, it can be output according to the user-defined data type.

---

my personal thought is
[code]
If this clearly defines the type of name,  can use Long.valueof() or Float.valueOf() or String.valueOf() change the result type.
For integer types: have, integer, short, bigDecimal, etc.  for efficiency rea

[2019-11-02 20:15] vy commented on #46
The proposed design makes sense. First I want to make sure that it is indeed impossible to provide non-String values in MDC. See [my post to the log4j-user mailing list](https://lists.apache.org/thread.html/1bb1012553fa4a1f2e116e7dcfae64892a557f40ef34ef33de9e6dff@%3Clog4j-user.logging.apache.org%3E). If `ThreadContext` turns out to be a dead end, I will try sparing some time in 2-3 weeks to push t

[2019-11-03 11:46] vy commented on #46
The log4j-user discussion yielded some useful results. For instance, you can put non-String values into MDC as follows:

1. Set `log4j2.threadContextMap` parameter to `org.apache.logging.log4j.spi.CopyOnWriteSortedArrayThreadContextMap`.

2. Add non-String values into MDC using the `ObjectThreadContextMap` interface:
[code]

Is this a practical work around for you, @wangzhuo0978?

[2019-11-03 13:44] wangzhuo0978 commented on #46
Thank you very much for your help, I have not found a way to directly modify log4j2.threadContextMap.
[code]
contextThread does not allow direct modification of threadContextMap, and no set method is provided.  but you have git me some great idea. thanks .

[2019-11-03 15:42] wangzhuo0978 commented on #46
I read the documentation for log4j2 and got the solution.
by
[code]
able to modify the contextMap, thank you again for your help.

[2019-11-04 12:40] vy commented on #46
@wangzhuo0978, I am closing the issue. Please do let me know if you have any objections.

[2019-11-04 12:40] #46 closed

[2019-12-24 21:37] vy opened #48 "Support GELF layout"
[GELF layout](https://docs.graylog.org/en/3.1/pages/gelf.html) can easily be supported by `LogtashLayout`. There are only two shortcomings:

1. Rendering of epoch seconds with fraction. Such a feature can be introduced by means of a new `timestamp:divisor=<divisor>` template, which will emit `epochNanos / <divisor>` as a floating point number.
2. Rendering of ordinal number of `Level`s. This requi

[2019-12-24 21:46] vy opened #49 "Support PatternLayout while rendering message"
Ala [Log4j 2 `GelfLayout`](https://logging.apache.org/log4j/2.0/manual/layouts.html#GELFLayout), introduce `messagePattern` configuration to support `PatternLayout` while rendering messages.

[2020-01-08 15:27] #48 closed

[2020-01-13 14:48] mzeijen opened #50 "BufferOverflowException get thrown for messages of a larger size"
We have seen for many instances that the `1.0.0` version has a problem with messages of a larger size. It starts throwing BufferOverflowException exceptions when a certain threshold is reached. The exception that is logged to the console is as follows:

[code]

I am not sure what the exact size is when this starts the happen. But testing with by increasing the message size has shown me that these

[2020-01-13 14:53] mzeijen commented on #50
Ok, while looking at the readme change for 1.0.0 I now see that `maxByteCount` has been reduced from 512 KiB to 16 KiB.

Is this what causes the BufferOverflowExceptions?

[2020-01-13 14:58] vy commented on #50
Yep, `BOE` is probably due to the decreased `maxByteCount`. Bumping it back to 512 KiB should solve your problems. Additionally, note that 1.0.0 has switched back to thread-local allocations (TLA). For the optimal efficiency, make sure it is enabled by setting `log4j2.enable.threadlocals=true` and `log4j2.is.webapp=false` properties.

[2020-01-13 15:36] felixbarny commented on #50
Note that this causes classloader leaks when un/re-deploying web applications.

[2020-01-13 16:28] Marx2 opened #51 "LogstashLayout with log4j2-elasticsearch appender"
I'm trying to use logstash layout with  project https://github.com/rfoltyns/log4j2-elasticsearch

[code]
However I'm getting error:

[code]

Referenced issue: https://github.com/rfoltyns/log4j2-elasticsearch/issues/32

[2020-01-13 20:09] vy commented on #51
This is due to a `ElasticsearchAppender` glitch which I reported in rfoltyns/log4j2-elasticsearch#33.

[2020-01-13 20:09] #51 closed

[2020-01-13 21:07] vy commented on #50
@mzeijen, you might also consider truncating excessive fields via `maxStringLength` directive.

[2020-01-14 05:58] mzeijen commented on #50
@vy The question then is what an excessive length is... The same with the number of bytes. 16 KiB is clearly too small but is 512 KiB to big?

[2020-01-14 10:58] vy opened #52 "Introduce properties to globally set LogstashLayout.Builder defaults"

[2020-01-15 09:36] sebthom commented on #50
@mzeijen wouldn't it makes sense to catch the BufferOverflowException in toByteArray and throw another exception with a more descriptive message (pointing to maxByteCount) or don't throw another exception but simply log the error message without stacktrace?

[2020-01-15 13:59] vy commented on #50
@mzeijen, `LogstashLayout` performs TLAs that are of worth consideration in two places:

1. While generating the JSON payload (string fields are capped by `maxStringLength` and total length is capped by `maxByteCount`)
2.  While converting stack traces to text (total length is again capped by `maxByteCount`)

This leads to the following formula for the plugin's memory consumption:

[code]

Here `e

[2020-01-15 13:59] #50 closed

[2020-01-21 12:04] mzeijen opened #53 "Nullpointer exceptions at LogstashLayoutSerializationContexts$StringTruncatingGeneratorDelegate"
We see Nullpointer exceptions with the following stack trace:

[code]

If the `StringTruncatingGeneratorDelegate#writeString` method gets a null then it fails on the first if check, as it tries to call `length` on a `null` reference:

[code]
It can get the `null` value from the `ExceptionResolver` when  `emptyPropertyExclusionEnabled` is not set to `true`, which is the default.

I am not sure if t

[2020-01-21 12:40] vy commented on #53
Doh! :man_facepalming: We better fix it in `StringTruncatingGeneratorDelegate#writeString` rather than all potential call sites. I have just released v1.0.1 with the fix (incl. test!) and it should momentarily show up in Maven Central repos. Thanks so much for the report.

[2020-01-21 12:40] #53 closed

[2020-01-24 16:24] ilgrosso opened #54 "Any template ready for GCP?"
I was wondering if there is any template available for usage with GCP, according to https://cloud.google.com/logging/docs/agent/configuration#process-payload
Thanks!

[2020-01-24 21:27] vy commented on #54
[Processing payloads](https://cloud.google.com/logging/docs/agent/configuration#process-payload) was sort of cryptic to me given my lack of knowledge about its workings. I had a better visual with the [`StackdriverJsonLayout.java` of `spring-cloud-gcp-logging` project](/spring-cloud/spring-cloud-gcp/blob/master/spring-cloud-gcp-logging/src/main/java/org/springframework/cloud/gcp/logging/Stackdrive

[2020-01-25 05:09] ilgrosso commented on #54
The above looks great, thanks!
I'll give it a try early next week and report here.

[2020-01-27 16:32] ilgrosso commented on #54
Thanks for you help @vy , worked like a charm.
Important note is also to set `prettyPrintEnabled="false"`.

[2020-01-28 09:23] vy commented on #54
@ilgrosso, before closing the issue, it might be good that we add this as a FAQ to README. Would you mind sharing how did you exactly solve your problem, please? The template JSON, Java code, prepared MDC fields, etc. The more details you provide, the more helpful it will be.

[2020-01-28 09:38] ilgrosso commented on #54
I have no MDC fields (yet?), no Java code to add.

Just added the Maven dependency, grabbed your JSON template as above and defined appenders like as follows:

[code]

[2020-01-28 09:57] vy commented on #54
How did you deal with `logging.googleapis.com/trace`, `serviceContext`, etc. fields? In my JSON template I was expecting them to be injected into MDC.

[2020-01-28 10:01] ilgrosso commented on #54
Ah sorry for not reporting: at the moment I don't need neither `logging.googleapis.com/trace` nor `serviceContext` - and they are both reported as `null` in the actual statements, as expected.

[2020-03-16 11:09] waldeinburg opened #55 "Message lost if exceeding maxStringLength and emptyPropertyExclusionEnabled is true"
If maxStringLength is exceeded and emptyPropertyExclusionEnabled is true, Jackson UTF8JsonGenerator will throw a JsonGenerationException: "Can not write a string, expecting field name (context: Object)".

[2020-03-16 12:45] waldeinburg opened #56 "Use ByteArrayOutputStream instead of ByteBufferOutputStream to avoid message loss"
I haven't researched this in depth but I suggest that the OutputStream in LogstashLayoutSerializationContexts is instantiated as a ByteArrayOutputStream (with an initial size of maxByteCount) instead of ByteBufferOutputStream to avoid message loss on large messages.

Setting maxStringLength is not a completely satisfying solution because we would have to make predictions of how many non-ASCII char

[2020-03-16 12:59] waldeinburg opened #57 "Stacktraces larger than maxStringLength are not truncated"
Stacktraces larger than `resolverContext.writerCapacity` causes an `ArrayIndexOutOfBoundsException` in the call to `System::arraycopy` from `BufferedWriter::write` because it attempts to write past the end of the buffer. The message is lost.
For stacktraces, `maxStringLength` has different semantics than for normal values: Instead of causing truncation, the buffer capacity is set from `maxStringLe

[2020-03-16 19:40] vy commented on #55
There is something pretty weird going on when `JsonGeneratorDelegate` is wrapped with a `TokenFilter` where `includeNull=false`. I could not reproduce your issue with the following snippet:

[code]

Here `layout.toSerializable(logEvent)` doesn't thrown an exception, but the comparison still fails. I have filed FasterXML/jackson-core#609 for the issue.

[2020-03-16 19:57] vy commented on #57
Thanks for the detailed bug report and solution path, @waldeinburg. I am able to reproduce the bug. I will release a fix in a couple of days.

[2020-03-16 20:41] vy commented on #56
If I understand your comment right... Replacing `BBOS` with `BAOS` would violate the garbage-free characteristics of the layout. Putting this detail aside, imagine that the JSON rendering is finalized and just before passing it to the appender you figured out that it violates the upper bound. Independent of whether the violation is measured on `byte` or `char` count, you cannot blindly truncate a

[2020-03-16 21:09] vy commented on #57
Using a dynamically growing buffer is not option, since 1) it will violate garbage-free semantics of the layout and 2) will cause the retain of the overflown buffers since they are recycled. That is why I have just capped the `BufferedWriter` in 521a463.

Note that the `resolverContext#writerCapacity` is determined as follows in `LogstashLayout.java`:

[code]

There I bet that user is smart enough

[2020-03-16 21:39] vy commented on #55
@waldeinburg, I have implemented a work around for FasterXML/jackson-core#609 in 634aec3. Would you mind checking if it works for you, please?

[2020-03-17 10:08] waldeinburg commented on #57
The fix works, thanks!
I.e., I get the following results as expected:
If maxStringLength is set, the stack trace is truncated.
If maxStringLength is not set a BufferOverflowException is thrown later, because the buffer size for the stack trace is the same as the buffer size for the whole JSON object and that space is filled by the (truncated) stack trace.

I understand now why we can't have a grow

[2020-03-17 10:11] waldeinburg commented on #55
The workaround works, thanks!

[2020-03-17 10:13] vy commented on #57
Thanks for the prompt feedback @waldeinburg. I am closing the issue. Once you comment on the 2 other issues you have submitted (#55 and #56), I will make a new release for you.

[2020-03-17 10:13] #57 closed

[2020-03-17 10:14] #55 closed

[2020-03-17 10:19] waldeinburg commented on #56
I'm sorry, I did not consider garbage. And I missed the obvious fact that the OutputStream is for the whole object, not individual values, thus my rambling about maxStringLength.

Would it be possible to implement a retry mechanism with a lower maxStringLength to avoid message loss altogether? I.e., on BufferOverflowException, run the serialization again with half the maxStringLength until success

[2020-03-17 10:22] waldeinburg commented on #57
You're welcome! Thanks for the super quick feedback to you too!

[2020-03-17 10:42] vy commented on #56
I have my doubts if such a smart retry mechanism should really be implemented in this plugin. Would you mind sharing your use case, please? In an ideal world, application logs should not indeed be lost. That said, it is difficult come up with a policy for excessive loads. At [bol.com](https://bol.com), we records statistics for dropped logs. Would that also work for you? Thinking more about it...

[2020-03-17 13:16] waldeinburg commented on #56
If we hit a database error we get a 22K stacktrace. We also set user input in the MDC which give us the opportunity to search in GrayLog for, e.g., error log messages logged during requests with a certain argument set to a certain value. Though we have turned off input logging for those of our POST methods that we know will receive large inputs, we could theoretically get large input in other meth

[2020-03-18 07:00] vy commented on #57
I've just released v1.0.2 including this fix.

[2020-03-18 07:00] vy commented on #55
I've just released v1.0.2 including this fix.

[2020-03-18 10:23] waldeinburg commented on #57
Thanks! I would wish all libraries replied this fast to issues!

[2020-03-19 21:13] vy commented on #56
Had an epiphany while thinking about your problem and it resulted in something that I am really happy with. In `JsonTemplateLayout`, the `LogstashLayout` successor that I am trying to get into `Log4j` core, [I have removed the `maxByteCount` configuration &dash; now there are just `maxStringLength` and `truncatedStringSuffix`](/vy/log4j2/blob/json-template-layout/src/site/asciidoc/manual/json-temp

[2020-03-19 21:13] #56 closed

[2020-03-24 09:37] joycgj commented on #56
I am excited when I see you will contribute this project to log4j-core, but when you will finish it, I am expecting the log4j2's new layout.

[2020-03-24 10:45] waldeinburg commented on #56
That sounds great! I suppose you refer to https://github.com/apache/logging-log4j2/pull/335/commits/15dd26c56f33df51681d8bee99f0bc0ed649c346
So, as I understand it, we actually get a growing buffer then, because the `StringBuilder` will raise its internal capacity as needed and never shrink it, even after you call `setLength(0)`. Then we get a growing buffer _and_ garbage freeness.

[2020-03-24 20:03] vy commented on #56
Correct.

[2020-04-27 08:14] ilgrosso opened #58 "Failed serializing JSON: BufferOverflowException"
Getting the exception below with GCP (using template from #54), version 1.0.2:

[code]

[2020-04-28 11:24] vy commented on #58
Your payload exceeds the `maxByteCount` limit. You better tune that. Also check out `maxStringLength` configuration.

[2020-04-28 11:43] ilgrosso commented on #58
Thanks for your answer @vy

Would the following conf work, then?

[code]

[2020-04-28 13:21] vy commented on #58
@ilgrosso, no, you need to provide those to `LogstashLayout` configuration, not integrate them into the template:

[code]

As a side note, 4 KiB (i.e., 4096) is pretty low for `maxByteCount`. This might easily get violated when you try to render a stack trace.

[2020-04-28 13:25] ilgrosso commented on #58
Thanks @vy I will then set something like

[code]

I hope 64Kb will be enough.

[2020-04-28 13:42] vy commented on #58
16 KiB for `maxByteCount` and 8 KiB for `maxStringLength` should be sufficient. If there is still a `LogEvent` that exceeds these limits, it is better for it to get dropped.

[2020-04-28 13:43] #58 closed

[2020-04-28 13:53] ilgrosso commented on #58
Thanks again!

[2020-04-28 15:16] ilgrosso commented on #58
@vy it appears that 16 Kb is the default for `maxByteCount`: https://github.com/vy/log4j2-logstash-layout/blob/master/layout/src/main/java/com/vlkan/log4j2/logstash/layout/LogstashLayout.java#L349

Since I am getting the exception reported above I think I'll need to set some more space.

[2020-06-02 17:10] gjevardat opened #59 "How to output ThreadContext (ex -MDC fields)"
Hello
Thanks for you work, I'am using your plugin since one year or so, but without using ex-MDC fields because I could not understand quickly how to....
After reading the doc, it is not clear for me how to output some prefefined ThreadContext (ex MDC) fields. In my case these fields are simple strings or integers...
Is it fully in the log4j2 xml file or do I have to create a custom json template

[2020-06-03 06:50] gjevardat commented on #59
Ok I figured out by myself digging a bit more into the code and examples.

[2020-06-03 06:50] #59 closed

[2020-06-12 09:32] vy opened #60 "Review request for Log4j JsonTemplateLayout"
Dear past issue and pull request authors!

I am sorry to spam you in this way, though I need your help on something. I have been working extensively in the last one year to merge `LogstashLayout` into the Apache Log4j core. :muscle: The new layout is rebranded as `JsonTemplateLayout` (which also communicates the intent more clearly) and gone through a massive set of changes. :rocket: **I have uplo

[2020-06-12 10:51] mzeijen commented on #60
Hi Volkan,

I’ll make some time for it next week.

Regards,
Maurice

From: Volkan Yazıcı <notifications@github.com>
Reply to: vy/log4j2-logstash-layout <reply@reply.github.com>
Date: Friday, 12 June 2020 at 11:33
To: vy/log4j2-logstash-layout <log4j2-logstash-layout@noreply.github.com>
Cc: Maurice Zeijen <mzeijen@bol.com>, Mention <mention@noreply.github.com>
Subject: [vy/log4j2-logstash-layout] R

[2020-06-16 07:10] felixbarny commented on #60
Great to see this being adopted in log4j! Nice work 👏

TLAB stands for thread local allocation buffer which is something different. You might want to change ~`TLAB`~ -> `ThreadLocal`

I would also explain the possibility of class loader leaks when using the `threadLocal` strategy with application servers.

In the ECS JSON layout, MDC values are serialized on the top-level now, as supposed to neste

[2020-06-17 15:10] vy commented on #60
Thanks for the thorough review @felixbarny, really appreciated!

:ballot_box_with_check:

:ballot_box_with_check:

:ballot_box_with_check:

I've checked out the sources of `log4j2-ecs-layout-0.4.0` and there `EcsLayout` contains the following lines:

[code]

Would you mind elaborating on how come an MDC value of type, say, `int` gets emitted as a JSON `number` rather than a `text`?

[2020-06-18 07:58] mzeijen commented on #60
I reviewed the documentation and cross checked it with our current setup of the LogstashLayout. The documentation is well written and understandable. I don't see a reason why we can't migrate from LogstashLayout to JsonTemplateLayout.

There is one feature of which I don't understand completely what its function is and that is the "Additonal event template fields". Why is it useful and when should

[2020-06-18 09:44] felixbarny commented on #60
What I meant is that currently the MDCs are stringified in `EcsLayout.json`, which is not needed when serializing at the top level:

https://github.com/apache/logging-log4j2/blob/bdc12dcd265ce155591f05ce48e46310a4bf0e66/log4j-layout-json-template/src/main/resources/EcsLayout.json#L30

[2020-06-18 14:59] vy commented on #60
Thanks so much for taking time to review the manual @mzeijen, really appreciated!

:ballot_box_with_check: Updated the manual.

Correct. This will do the trick:

[code]

Yes... I am indeed sitting on the fence about this one. I think I will first wait and see the reaction of the users. If there pops up many of such questions, I will add examples.

[2020-06-18 15:02] vy commented on #60
Ah... Now I see your point. I'd rather stick to `stringified` version to match the `log4j2-ecs-layout` behavior. This feels like the option with the least surprise factor for users. If needed, they can override it via additional fields anyway.

[2020-06-18 20:04] johnament opened #61 "How exactly is MapMessage supposed to be handled?"
Hi

I saw your bug report (and fix) for Log4J2's MapMessage handling.  However, I've tried with a few different logging approaches and none seem to give me the output I was hoping for (where the MapMessage is output as a JSON Object).

Is there a little bit better instruction somewhere of how a MapMessage can be handled, or is it a limitation that the MapMessage class can't be serialized to an obj

[2020-06-18 20:08] johnament commented on #61
Here's some resources.  My json log format:

[code]

as well as my log4j2 xml config
[code]

[2020-06-19 07:09] vy commented on #61
@johnament, you need to use `${json:message:json}` directive:

[code]

Does this help?

[2020-06-19 13:15] johnament commented on #61
@vy I had seen that, but then the behavior I was looking for ultimately wasn't coming through correctly.  While `${json:message:json}` does in fact work, it only works for the message field in the JSON.  TBH I would have assumed that the default rendering of a message if type is `ObjectMessage` or `MapMessage` would be as a JSON object instead of me having to explicitly list it.  Reason being is n

[2020-06-19 13:29] vy commented on #61
Now I see your point! That indeed gave me a good insight on how broken the way we treat `MapMessage`s. I will draft a quick-and-dirty fix for you in `LogstashLayout` and come up with something better for `JsonTemplateLayout`. Give me a couple of days. Thanks so much again for the feedback.

[2020-06-23 06:26] vy commented on #61
@johnament, I've pushed a83db2b which preserves the type of values in `MapMessage`s accessed via `map` directive. Consider the following test:

[code]

Would you mind confirming if this addresses your issue, please?

[2020-06-30 13:26] johnament commented on #61
Hi, yes that in fact does resolve the ask.  Will this also be in the log4j2 version of the library?

[2020-06-30 19:43] vy commented on #61
I have just released v1.0.3 to Maven Central -- it should become visible in half an hour or so. Yes, I have indeed [incorporated the fix](/apache/logging-log4j2/commit/18750c1647421a83b6256b5df28447286c772e8b) into `JsonTemplateLayout` too. Thanks so much again for taking your time!

[2020-06-30 19:43] #61 closed

[2020-07-20 23:16] james-r-smith commented on #58
@vy, not sure whether to open another ticket or not (will do if you need me to), but I'm facing an issue that is **very** closely related to this. The only difference is that I'm using `exception:stackTrace` and not `exception:stackTrace:text`. With this configured, `maxStringLength` and `maxByteCount` give me the ability to print out the exception, but not truncate it if it's too long (essentiall

[2020-07-22 13:12] vy commented on #58
@james-r-smith, unfortunately there is not much `LogstashLayout` can do here -- let me know if you have any proposals. Consider somebody injecting an MDC field of type array where there are 1e6 strings each less than `maxStringLength`. This as well will hit to the `maxByteCount` wall. Could decreasing `-XX:MaxJavaStackTraceDepth` be an option for you?

What else I can do is to provide a `maxArrayL

[2020-07-23 03:25] james-r-smith commented on #58
Hey @vy. Great suggestions 😊 I like the `-XX:MaxJavaStackTraceDepth` option as well as the potential `maxArrayLength` parameter. For right now, I've also been liking the stack trace string. I chose this library in our project because of it's near-future addition to Log4J3. Will this also be something which will occur once implemented there as well? If so, would I file a ticket in both libraries? J

[2020-07-29 16:54] Fleshgrinder opened #63 "Multiple template variables in single property lead to an exception"
I wanted to use multiple template variables in a single property:

[code]

The problem is that I'm presented with an exception upon startup:

[code]

The moment I reduce the line to a single template variables things work as usual, however, I would expect this to work. 😊

PS: Thanks for the great library and your efforts to get it into core. ❤️

[2020-07-30 07:26] vy commented on #63
@Fleshgrinder That is not supported by `LogstashLayout`. See the following section in the docs:

You might have noticed that I am busy with integrating `LogstashLayout` into Log4j core under the name `JsonTemplateLayout`, see #60. There you will be able to do what you want by inject a `PatternLayout` into your JSON template:

[code]

Just a bit more patience, please. :wink:

Do you need it *right

[2020-07-30 07:33] Fleshgrinder commented on #63
I didn’t notice that in the README (you know how it is sometimes, you read it but your brain directly discards it).

Nullo problemlo

You’d have a PR instead of an issue if I’d be desperate. 😉 Go on, concentrate on getting it into core, and once more, thanks for your hard work. ❤️

PS: Feel free to close the issue, I would leave it open for others though. It can act as a nice pointer to the core i

[2020-07-30 07:40] #63 closed

[2020-08-07 22:45] akleiman opened #64 "Fallback for json:map: fields for libraries"
Currently we're looking into adopting MapMessages for most of our logging needs, mapping the `message` fieldin the layout as, say `json:map:message`. This works fine for our code, but when dealing with library code that logs SimpleMessages we end up with empty message fields. Is there a workaround for this, some way to fallback a field from `json:map:` mapping to `message` if the mapping is empty?

[2020-08-11 10:41] vy commented on #64
If I understand you correctly, what you are looking for is an if-else construct, which exists neither in `LogstashLayout`, nor its successor `JsonTemplateLayout`, yet. `JsonTemplateLayout` allows one to fallback to `PatternLayout`, though neither `PatternLayout` allows such a check, AFAIK. Hence, AFAIC, this feature needs to be implemented from scratch.

[2020-10-01 12:48] ramazanpolat opened #65 "NoClassDefFoundError: logstash.layout.resolver.TemplateResolvers (initialization failure)"
Hi, I'm getting the following error when I use Logstash Layout.
The project is not a maven project but so I put the jar files manually.

Any idea why this happens?

java.lang.NoClassDefFoundError: com.vlkan.log4j2.logstash.layout.resolver.TemplateResolvers (initialization failure)

Full log:
[code]

[2020-10-01 13:33] vy commented on #65
Hey @ramazanpolat! It is very difficult to make a guess without further information. Is there a way I can reproduce the error myself? What does the classpath look? Are you sure there is only one version of `log4j2-logstash-layout` injected and/or loaded?

[2020-10-13 22:05] subhash982 commented on #4
I tried the blow options but nothing is working for me. I have system property 'jobRunType' and tryinh to access using the below format in template. It is printing as it is with evaluating the expression. Can someone help if I am missing any thing ?

Template expression :

  "JobRunType": "${json:sys:jobRunType}",
  "JobRunType1" :  "${json:jobRunType}",
  "JobRunType2" :  "${sys:jobRunTyp}"

Log

[2020-10-16 18:25] ayush-finix opened #67 "Remove max byte count cap?"
I'm not sure if this is an issue or not, so just seeking clarification.

Is there a way to not cap the log size length? For our use case, we'd rather keep all the log messages instead of setting an arbitrary limit. Would it be an issue if we set the maxByte to something really high like 100k (our concern was whether these buffers were allocated for every log message)?

[2020-10-26 13:40] vy commented on #67
Hello @ayush-finix, sorry for the late reply.

The code in `master` (hence, the recent releases) allocates thread-local buffers to avoid generating garbage while rendering JSON. At this stage it is not possible to remove the max byte count cap. Though there are a couple of things that I would like to share with you:

- It is not a good practice to remove the cap on the buffer size. I would advise

[2020-10-26 13:40] #67 closed

[2020-10-26 21:19] vy commented on #4
@subhash982, there is a typo in your template. `${sys:jobRunType}` should work, that is:

[code]

[2020-10-29 15:04] magnuskvalheim opened #68 "Reference whole MapMessage - and not just keys"
I would like to add the content of MapMessage as a separate field.
Currently it's only possible to reference named fields, but ours are dynamic so would like to add all key-value pairs in a field for that.
Example:
`<KeyValuePair key="customfield" value="${json:map}"/>`

A workaround could be to also add the mapmessage fields to mdc, but like to avoid add it both places + removing from mdc once th

[2020-10-29 16:11] nickheniser opened #69 "Compiling with JDK 8 results in java.lang.NoSuchMethodError: java.nio.ByteBuffer.flip()Ljava/nio/ByteBuffer;"
I am compiling my program with a JDK 8 compiler, and seeing java.lang.NoSuchMethodError: java.nio.ByteBuffer.flip()Ljava/nio/ByteBuffer; at runtime.

I am bringing in `implementation "com.vlkan.log4j2:log4j2-logstash-layout:1.0.4"`

Maybe it has something to do with this: https://stackoverflow.com/questions/61267495/exception-in-thread-main-java-lang-nosuchmethoderror-java-nio-bytebuffer-flip

Is

[2020-10-30 10:47] vy commented on #69
I will see what I can do about it. I think I need to use [animal-sniffer-maven-plugin](https://www.mojohaus.org/animal-sniffer/animal-sniffer-maven-plugin/index.html).

I see that you are using an old version of JVM 8, i.e., 1.8.0_211. Is it an option for you to upgrade to the latest Java 8?

[2020-10-30 13:01] nickheniser commented on #69
Thanks!  I'll see if updating my java version will help, didn't realize they would update the signature in later version of java8?  I'll report back with findings.

[2020-10-30 14:04] vy commented on #69
@nickheniser, I have just released `1.0.5`, this should have fixed your issue. Would you mind checking, please? (Don't hesitate to reopen the issue if your problem is not solved.)

[2020-10-30 14:04] #69 closed

[2020-10-30 16:09] nickheniser commented on #69
Fixed for me!  Thanks for the quick help!

[2020-11-02 11:08] magnuskvalheim commented on #68
Hi again.

The ecs-logging-java project supports structured logging by adding the MapMessage to the document root.
I'm thinking that could be a useful feature. Is that something you may have considered as well?

1)Perhaps by adding a parameter to LogstashLayout.
2)..or maybe better - as a <Unwrapped value="" /> to the <EventTemplateAdditionalFields> ?

If You think it's a reasonable scenario I cou

[2020-11-02 11:15] vy commented on #68
Hey @magnuskvalheim! Sorry for the late response, I did not miss about it. LogstashLayout successor JsonTemplateLayout will be released this week or so. It adresses your issue by supporting merging of an object with the parent. This week I will see if I can backport it to LogstashLayout.

[2020-11-02 11:59] magnuskvalheim commented on #68
Hi @vy .
Thanks for reply.
Ok, that sounds great - I'll test that out once it becomes available 👍

[2020-11-11 08:42] vy commented on #68
@magnuskvalheim, Log4j 2.14.0 is released. Would you mind giving it a try, please?

[2020-11-11 08:44] vy commented on #60
Log4j 2.14.0 is released! :partying_face: Thanks to everyone for the feedback on the design drafts of `JsonTemplateLayout` shipped with this release!

[2020-11-11 08:44] #60 closed

[2020-11-12 17:02] magnuskvalheim commented on #68
Hi @vy
Great - thanks for your hard work.
I'll try it out and report back :)

[2020-11-12 21:41] magnuskvalheim commented on #68
Hi @vy

Thanks and congratulations with the release!

I've tried the Log4j 2.14.0 release and the flattening feature of mdc resolver - that works really well!
Further - I wanted to have the contents of MapMessage in a custom field - and that is possible with reusing the message resolver.
So amazing job there!

With the message resolver it's possible to set the fallbackKey - an item to wishlist wou

[2020-11-13 08:06] vy commented on #68
@magnuskvalheim, thanks so much for taking time to try it out and your kind words! Would you mind creating two tickets (assigned to my name) in [the Log4j2 JIRA board](https://issues.apache.org/jira/projects/LOG4J2) for these, please?

[2020-11-13 14:13] vy commented on #68
Created https://issues.apache.org/jira/browse/LOG4J2-2961

[2020-11-16 07:59] magnuskvalheim commented on #68
Great - thanks for addressing it so quickly.
If you want to I guess you can close this ticket now. I'm following the log4j2 issues.

[2020-11-17 09:09] #68 closed

[2020-11-28 21:10] hunterjackson-keebo opened #71 "Marker lookup subsitutes literal string when marker not available"
I have an additional field defined currently to add marker names

[code]

this works great when there is a marker available, whoever if no marker is defined we're seeing the value printed literally in the logs
[code]

I assume this is not expected?

[2020-11-29 03:02] hunterjackson-keebo commented on #71
ah this was solved by prefixing the lookup with `json`
[code]

[2020-11-29 03:03] #71 closed

[2020-11-30 19:49] johnament opened #72 "BufferOverflowException occurs intermittently when sending data via socket appender"
We use the socket appender w/ logstash layout to send data to our kibana instance, I suspect this is a pretty normal way to do it.

Occasionally we see a failure to write to kibana with the following stack trace:

{code}
org.apache.logging.log4j.core.appender.AppenderLoggingException: An exception occurred processing Appender socket
org.apache.logging.log4j.core.appender.AppenderLoggingException:

[2020-12-01 10:27] vy commented on #72
@johnament, thanks for the report and detailed analysis. `LogstashLayout` is superseded by [`JsonTemplateLayout`](https://logging.apache.org/log4j/2.x/manual/json-template-layout.html) of `log4j-layout-template-json` module since Log4j 2.14.0 release. (I have just placed a warning about this to `README.md`.) Is that an option for you to switch to `JsonTemplateLayout`?

[2020-12-02 00:38] johnament commented on #72
@vy yep, i knew you were integrating at some point.  from my POV, this isn't critical, but no we aren't planning to upgrade to 2.14 right now.  For now we're just removing our maxByteCount to avoid this issue.

[2021-02-03 08:46] unoexperto commented on #68
@magnuskvalheim @vy Guys, could you please show example of json config with working `KeyValuePair` ? It drives me crazy :(

https://issues.apache.org/jira/browse/LOG4J2-3013

This is my complete config https://gist.github.com/unoexperto/faa5e251a478e567bbad2c5d92460053

[2021-02-03 10:44] vy commented on #68
@unoexperto, I have shared [one in LOG4J2-3013](https://issues.apache.org/jira/browse/LOG4J2-3013?focusedCommentId=17277895&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-17277895).

[2021-02-19 15:11] pippy44 commented on #68
@vy Hi I see that both https://issues.apache.org/jira/browse/LOG4J2-2961 and https://issues.apache.org/jira/browse/LOG4J2-3013 have been closed and marked as duplicates of https://issues.apache.org/jira/browse/LOG4J2-2995. Is the eventTemplateAdditionalFields issue being addressed in 2995? If so, is a 2.14.1 release expected soon?

[2021-02-23 09:46] vy commented on #68
@pippy44, yes. I would recommend you raising your hand in Log4j `dev` mailing list as a user waiting for the 2.14.1 release.

[2021-06-12 06:12] iamshe commented on #54
How can I get custom field say version and it should read the value from other properties file or json file . We don't want to hard code it and wanted to dynamically populate and don't want to put it in mdc.

[2021-06-13 19:17] vy commented on #54
First, I would strongly advise you to switch from `LogstashLayout` provided by `log4j2-logstash-layout` artifact to `JsonTemplateLayout` provided by the official Log4j project in `log4j-layout-template-json` artifact. `LogstashLayout` is not developed anymore and `JsonTemplateLayout` is the successor.

You can define the values either as JVM properties or environment variables. Then you can access

[2021-07-27 19:43] JupellyRakesh commented on #29
Please check and confirm Issue still exist for new maven version(<artifactId>log4j2-logstash-layout</artifactId>
			<version>1.0.5</version>) as well if we use logging as debug in springboot project

**Error Message**: 2021-07-28 00:53:57,344 main ERROR An exception occurred processing Appender springFrameWorkLog java.lang.RuntimeException: failed serializing JSON
	at com.vlkan.log4j2.logstash.lay

[2021-07-28 07:44] vy commented on #29
@JupellyRakesh, `log4j2-logstash-layout` is superseded by [log4j-template-layout-json](https://logging.apache.org/log4j/2.x/manual/json-template-layout.html). It shouldn't take much effort to migrate to that – replace the artifact name and adapt the template. Is migration to `log4j-template-layout-json` an option for you?